@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

.bespoke-slide {
    background-color: rgb(48, 97, 122);
}

:root {
  --color-gray: #b7b8b7;
}

/* .bespoke-slide {
    align-items: baseline;
}

.bespoke-slide.section-title {
    align-items: center;
} */


.footer {
    background-color: #aaa;
    position: fixed;
    bottom: 0px;
    height: 32px;
    width: 100%;
}

.logo {
    content:url(images/arches_logo.png);
    height: 21px;
    width: 75px;
    position: fixed;
    bottom: 5px;
    right: 10px;
}

p {
    padding: 0px 10px;
    margin: 5px;
}

ul p {
    padding: 0px
}

li {
    padding: 3px 0;
}

pre[class*="language-"] {
    padding: 1.5em;
    margin: 0.5em 0;
    overflow: visible;
}

th {
    text-decoration-line: underline;
    padding-right: 12px;
}

td {
    padding-right: 12px;
}

pre {
    padding: 5px;
    color: black;
}

.db-results {
    font-size: 0.3em;
    background: white;
    color: black;
    font-family: 'Source Code Pro', monospace !important;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

pre {
    font-size: 0.55em;
}

h3 {
    margin: 5px 0;
}

code {
    padding: 0;
    color: rgb(194, 238, 255);
}

pre code {
    color: black;
}