:root {
  --color-gray: #b7b8b7;
}

/* .bespoke-slide {
    align-items: baseline;
}

.bespoke-slide.section-title {
    align-items: center;
} */


.footer {
    background-color: #aaa;
    position: fixed;
    bottom: 0px;
    height: 32px;
    width: 100%;
}

.logo {
    content:url(images/arches_logo.png);
    height: 21px;
    width: 75px;
    position: fixed;
    bottom: 5px;
    right: 10px;
}


.bespoke-backdrop {
  background: var(--color-gray);
}

.big {
  font-size: 3rem;
}

/* .tc39 {
  @mixin icon './images/tc39.png';
} */

.timeline {
  border-left: 2px solid #888;
  padding: 10px;
  text-align: left;

  & thead {
    border-bottom: 1px solid #888;
  }

  & th {
    padding: 5px 20px;
  }
}

.stages-list {
  font-size: 0.9rem;
  text-align: left;

  & th {
    padding: 10px;

    &:first-child {
      padding-left: 50px;
      width: 100px;
    }
  }

  & strong {
    font-size: 1.7rem;
  }
}

.champion {
  font-size: 0.6rem;
}

.proposal-updates-table {
  font-size: 0.8rem;

  & tbody {
    & th {
      padding: 2px 10px;
    }
  }
}

.node-fest {
  width: 70%;
}

.required {
  /* color: var(--color-js); */
  margin-right: 5px;
}
