<style>
tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    min-width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

td {
    padding: 0 10;
}

tr.even {
    background-color: #ccc;
}

</style>

<div style="padding: 10px; border: solid 1px #ddd; margin: 10px">

    <span data-bind="text: title"></span>

    <table data-bind="visible: albums().length > 0">
    <tr>
        <th>#</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Remove</th>
    </tr>
    <!--ko foreach: albums, as: album -->
        <tr data-bind="css: {'even': ($index() + 1) % 2 === 0}">
            <td data-bind="text: $index() + 1"></td>
            <td data-bind="text:artist"></td>
            <td data-bind="text:album"></td>
            <td><button data-bind="click: $parent.removeAlbum">Remove</button></td>
        </tr>
    <!-- /ko -->
    </table>

    <!--ko if: context -->
        <div style="padding-top: 10px" data-bind="text: 'Album count: ' + albums().length"></div>
    <!-- /ko -->
</div>
